// font-size
$roboto: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// px- sizes
$small: 15px;
$medium: 20px;
$lg: 30px;
$xlg: 50px;
$full: 100%;
$zero: 0;

// colors
$colorWhite:#ffffff;
$deepGray: #303e48;
$textShadow: #575555;
$solidBlack: #000000;

// width container
$fullWidth: 100%


