.background-jumbotron{
    background-image: url(../images/landing/bosquedestino.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: butt;
    filter:brightness(50%) ;
    
    
}
