
/* p{
    color:#990000;
}

#inferior-p{
    color:blue;
}

.paragraph{
    color:white;
    font-size: 30px;
    background-color: black;

}

h1{
    color:blue;
    font-size: 60px;
    text-align: center;
    background-color: red;
}

h2{
    color: lightcoral;
    text-align: left;
    font-style: italic;
    font-size: medium;
}

 

ul>li{
    color: gold;
    font-size: 50px; */