 h3, p{
    
    font-weight: bold;
    text-align: center;
    
}


.container{
    
    display: grid;
    /* grid-template-rows: 200px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "mexico" "colombia" "paris";


}

/* .image-destination{
    object-fit: cover;
} */

.mexico{
    grid-area: mexico;
}

.colombia{
    grid-area: colombia;
}

.paris{
    grid-area: paris;
}
