 *{
     margin: 0;
     padding: 0;
 }
 
 h3, p {
    
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    
}
/* body{
    height: 90vh;
} */


.destinations {
    
    /* height: 70vh; */
    display: grid;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(3, 300px);
    column-gap: 15px;
    row-gap: 15px;
}

.image-destination{
   width: 300px;
   height: 300px;
}
fig-caption{
    display: block;
    text-align: center;
  
}


/* media queries para dispositivos pequeños
    sustituir grid por esto:
    display: flex;
    flex-direction: column;
    align-items: center; */

    /* Otra opció es
    grid-template-columns: repeat(1, 300px);
    para dispositvos chicos y 
    grid-template-columns: repeat(2, 300px);
    para dispositvos medianos */