*{
margin: 0;
padding: 0;

}

.footer{
    background-color: black;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-left: 22px;
    color: white;
}


    
} */

footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact{
    color: white;
    width: 10%;
    padding:5% 1%; 
    display:inline-block
    

}

  .social-media-icons{
   
    width: 10%;
    padding-left: 5%;
    display: inline-block;
     
} 
