*{
    margin:0%;
    padding: 0%;
}




#bedu-logo{
    margin-left: 20px;
    width: 50px;

}

nav{
    background-color: rgb(59, 55, 55);
    height: 50px;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

nav>div>a{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

nav>div:first-child{
    flex-grow: 3;
}